<div class="section-1">
    <div class="grid">
        <div class="col-12 md:col-6 section-1-left">
            <div class="section-1-left-header">Innovative Solution Tailored to your Business need</div>
            <div class="section-1-left-content">
                We can partner with your business to provide a symbiotic 
                relationship and synergy to help you or your business achieve
                more business growth through strategic financial advisory, 
                investment business and human resource planning and management.
            </div>
            <div class="section-1-left-button-container">
                <button class="section-1-left-button">
                    <span>Get in touch</span>
                </button>
            </div>
            <div class="section-1-left-icon-container">
                <div class="section-1-left-icon">
                    <img src="assets/images/be-icon.svg">
                </div>
                <div class="section-1-left-icon">
                    <img src="assets/images/ball-icon.svg">
                </div>
                <div class="section-1-left-icon">
                    <img src="assets/images/facebook-icon.svg">
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 section-1-right">
            <div class="section-1-right-image-top-container">
                <img class="section-1-right-image-top" src="assets/images/hex-image.svg">
            </div>
            <img class="section-1-right-image-bottom" src="assets/images/blob.svg">
        </div>
    </div>
</div>

<div class="section-2" id="about">
    <div class="section-2-header">
        <span>About Us</span>
        <div></div>
    </div>

    <div class="section-2-content">
        <div class="grid">
            <div class="col-12 md:col-6 section-2-left flex-order-1 md:flex-order-0">
                <img class="section-2-left-image" src="assets/images/guy-pic.svg">
            </div>
            <div class="col-12 md:col-6 section-2-right">
                <div class="section-2-right-inner">
                    <div class="section-2-right-header">We focus on value and excellence</div>
                    <div class="section-2-right-content">
                        We are focused on providing products which deliver demonstrably 
                        good value for our clients and end-customers - be that a specific 
                        return, outperforming an index or achieving returns at lower risk.
                        <br><br>
                        Through achieving value for the clients whose assets we manage, 
                        efficiently controlling costs, effectiveness and efficiency, we 
                        deliver value to our shareholders and wider stakeholders.
                    </div>
                    <div class="section-2-right-button-container">
                        <button class="section-1-left-button">
                            <span>Work with Us</span>
                        </button>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>


<div class="section-3" id="experience">
    <div class="section-2-header">
        <span>Resume</span>
        <div></div>
    </div>

    <div class="section-3-content">
        <div class="section-3-content-left">
            <div class="section-3-content-left-1">
                <div class="section-3-content-left-1-header">2017</div>
                <div class="section-3-content-left-1-content">Louisanna State University</div>
                <div class="section-3-content-left-1-content2">Lorem Ipseum</div>
            </div>
            <div class="section-3-content-left-1">
                <div class="section-3-content-left-1-header">2018</div>
                <div class="section-3-content-left-1-content">Havard EdX</div>
                <div class="section-3-content-left-1-content2">Principles of Design</div>
            </div>
        </div>
        <div class="section-3-content-left">
            <div class="section-3-content-left-1">
                <div class="section-3-content-left-1-header">2019</div>
                <div class="section-3-content-left-1-content">Udacity</div>
                <div class="section-3-content-left-1-content2">Product Design</div>
            </div>
            <div class="section-3-content-left-1">
                <div class="section-3-content-left-1-header">2020</div>
                <div class="section-3-content-left-1-content">Microsoft Partner</div>
                <div class="section-3-content-left-1-content2">Platinum</div>
            </div>
        </div>
    </div>
</div>


<div class="section-4" id="portfolio">
    <div class="section-2-header">
        <span>Portfolio</span>
        <div></div>
    </div>

    <div class="section-3-content">
        <div class="section-4-menuitem-container">
            <ul>
                <li class="topbar-active-link">All</li>
                <li>Website</li>
                <li>MobileApp</li>
                <li>CSS</li>
                <li>GitHub</li>
            </ul>
        </div>

    </div>

    <div class="section-4-main-content">
        <div class="grid">
            <div class="col-12 md:col-4">
                <div class="section-4-image-1-container">
                    <img class="section-4-image-1" src="../../../assets/images/portfolio-1.svg">
                </div>
            </div>
            <div class="col-12 md:col-4">
                <div class="section-4-image-1-container">
                    <img class="section-4-image-1" src="../../../assets/images/portfolio-1.svg">
                </div>
            </div>
            <div class="col-12 md:col-4">
                <div class="section-4-image-1-container">
                    <img class="section-4-image-1" src="../../../assets/images/portfolio-1.svg">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-5" id="contact">
    <div class="section-2-header">
        <span>Get in Touch</span>
        <div></div>
    </div>

    <div class="section-5-content">
        <div class="section-5-content-1">
            <img class="section-5-content-icon" src="assets/images/call-icon.svg">
            <div class="section-5-content-header">Call Us</div>
            <div>+234-806 749-700</div>
        </div>

        <div class="section-5-content-1">
            <img class="section-5-content-icon" src="assets/images/send-icon.svg">
            <div class="section-5-content-header">Send Email</div>
            <div>revent@digital.com</div>
        </div>

    </div>

    <div class="section-5-main-content">
        <div class="grid">
            <div class="col-12 md:col-6">
                <input placeholder="Name" class="section-5-input-field" type="text">
            </div>
            <div class="col-12 md:col-6">
                <input placeholder="Email" class="section-5-input-field" type="text">
            </div>
            

            <div class="col-12 md:col-12">
                <input placeholder="Subject" class="section-5-input-field" type="text">
            </div>

            <div class="col-12 md:col-12">
                <textarea placeholder="Message" class="section-5-textarea" cols="30" rows="10"></textarea>
            </div>

        </div>
        <div class="section-2-right-button-container">
            <button class="section-1-left-button">
                <span>Send message</span>
            </button>
        </div>
    </div>
</div>