.topbar-container{
    width: 100%;
    margin-top: 30px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .topbar-right-container{
        ul{
            display: flex;
            list-style: none;
        }
        li {
            margin-right: 30px;
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 5px;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition-duration: var(--transition);

            &:hover {
                border-bottom: 2px solid #FCE82F;
            }
        }
        .topbar-active-link{
            color: var(--text-active);
        }
    }
}

@media (max-width: 767px){
    .topbar-container {
        margin-top: 15px;
        padding-right: 10px;

        .topbar-right-container{
            li {
                font-size: 13px;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 577px){
    .topbar-container {
        margin-top: 15px;
        padding-right: 0px;
        margin-left: -10px;
        justify-content: center;

        .topbar-right-container{
            li {
                font-size: 12px;
                margin-right: 7px;
            }
        }
    }
}